accelerate
transformers
ftfy
albumentations
opencv-python
einops
diffusers==0.10.2
pytorch-lightning
bitsandbytes
tensorflow
safetensors
toml
voluptuous
torch==1.13.1+cu117
triton
lycoris_lora
dadaptation
lion_pytorch
.
