accelerate
transformers
ftfy
albumentations
opencv-python
einops
diffusers==0.10.2
pytorch-lightning
bitsandbytes
tensorflow
safetensors
toml
voluptuous
torch==2.0.1+cu118
triton
lycoris_lora
dadaptation
lion_pytorch
.
