accelerate
transformers
ftfy
albumentations
opencv-python
einops
diffusers==0.10.2
pytorch-lightning
bitsandbytes
tensorflow
safetensors
toml
voluptuous
torch==2.0.0+cu118
xformers==0.0.19
triton
lycoris_lora
dadaptation
lion_pytorch
.
